/* Bootstrap Icons */

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

/* Themes */

:root[data-theme="l1"] {
    --text: #0b080a;
    --background: #fcf9fa;
    --primary: #b84f81;
    --secondary: #e08db5;
    --accent: #e564a2;
}
:root[data-theme="d1"] {
    --text: #f6f3f5;
    --background: #070305;
    --primary: #af4679;
    --secondary: #701f46;
    --accent: #991a57;
}
:root[data-theme="l2"] {
    --text: #130718;
    --background: #f1e3f8;
    --primary: #591f6b;
    --secondary: #db849d;
    --accent: #bf4a36;
}
:root[data-theme="d2"] {
    --text: #f3e7f8;
    --background: #15071d;
    --primary: #ce94e0;
    --secondary: #7b243c;
    --accent: #c95540;
}
:root[data-theme="l3"] {
    --text: #0b1911;
    --background: #f8fcf9;
    --primary: #3cd380;
    --secondary: #87eeb5;
    --accent: #45f293;
}
:root[data-theme="d3"] {
    --text: #e6f4ec;
    --background: #030805;
    --primary: #2cc370;
    --secondary: #117840;
    --accent: #0dba5b;
}
:root[data-theme="l4"] {
    --text: #171213;
    --background: #f2e8eb;
    --primary: #612336;
    --secondary: #e27999;
    --accent: #df1652;
}
:root[data-theme="d4"] {
    --text: #eee9ea;
    --background: #160c0f;
    --primary: #dc9eb1;
    --secondary: #861d3d;
    --accent: #e9215e;
}
:root[data-theme="l5"] {
    --text: #040406;
    --background: #faf8fc;
    --primary: #8755c3;
    --secondary: #b48fe0;
    --accent: #9a62df;
}
:root[data-theme="d5"] {
    --text: #f9f9fb;
    --background: #050307;
    --primary: #6d3caa;
    --secondary: #431f70;
    --accent: #58209d;
}
:root[data-theme="l6"] {
    --text: #1d1111;
    --background: #f4e7e7;
    --primary: #6d2827;
    --secondary: #db8380;
    --accent: #c62f2a;
}
:root[data-theme="d6"] {
    --text: #eee2e2;
    --background: #180b0b;
    --primary: #d89392;
    --secondary: #7f2724;
    --accent: #d53e39;
}
:root[data-theme="l7"] {
    --text: #0f1214;
    --background: #f2f6f8;
    --primary: #2c5068;
    --secondary: #7ab1d6;
    --accent: #2a8bcf;
}
:root[data-theme="d7"] {
    --text: #ebeef0;
    --background: #070b0d;
    --primary: #97bbd3;
    --secondary: #296085;
    --accent: #3090d5;
}
:root[data-theme="l8"] {
    --text: #0d0b18;
    --background: #f2f1f8;
    --primary: #695cb2;
    --secondary: #d1a5d5;
    --accent: #c37fb8;
}
:root[data-theme="d8"] {
--text: #e9e7f4;
--background: #08070e;
--primary: #5a4da3;
--secondary: #562a5a;
--accent: #803c76;
}
:root[data-theme="l9"] {
    --text: #071c1a;
    --background: #f7fdfc;
    --primary: #1d7260;
    --secondary: #7493dc;
    --accent: #2f38b6;
}
:root[data-theme="d9"] {
    --text: #e4f8f6;
    --background: #020908;
    --primary: #8be2cf;
    --secondary: #23428c;
    --accent: #4a52d1;
}

/* Wireframe */

body {
    background-color: var(--background) !important;
    color: var(--text) !important;
    overflow: hidden;
    transition-duration: 0.3s;
}

.box {
    position: absolute;
    width: 100vw;
    margin: 0;
}

.animation .letter {
    transition-duration: 0.3s;
}

.hero {
    height: 100vh;
    display: flex;
    transition-duration: 0.5s;
    transition-timing-function:cubic-bezier(0.19, 1, 0.22, 1)
}

.left-hero, .right-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
}

.middle-hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

/* 3d effect */

.three-d {
    transition-duration: 0.5s;
    transition-timing-function:cubic-bezier(0.175, 0.885, 0.32, 1.275)
}

.three-d:hover {
    transition-duration: 0.5s;
    text-shadow: -15px 15px var(--primary), -40px 30px var(--secondary);
    scale: 1.1;
    rotate: -5deg;
}

/* Icon config */

.bi-code-slash {
    font-size: 12rem;
}

.socials i {
    transition-duration: 0.3s;
    color: var(--text);
    font-size: 20px;
    padding: 0px 10px;
}

.socials i:hover {
    color: var(--accent);
}

/* Buttons */

.mau-btn {
    color: var(--text) !important;
    border: 1px solid var(--accent);
    padding: 10px 15px;
    transition-duration: 0.3s;
}

.mau-btn:hover {
    box-shadow: inset 0 -50px 0 0 var(--accent);
    color: var(--background) !important;
    scale: 1.05;
}

.mau-btn-secondary {
    color: var(--background) !important;
    background-color: var(--primary);
    padding: 10px 15px;
    transition-duration: 0.3s;
    text-decoration: none;
}

.mau-btn-secondary:hover {
    box-shadow: inset 0 50px 0 0 var(--accent);
    color: var(--text) !important;
}

/* Switch theme box */

.switchtheme {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 1px solid var(--text);
    cursor: pointer;
    z-index: 5;
}

.switchtheme .bi-lightbulb-fill {
    font-size: 20px;
}

.text-accent {
    color: var(--primary);
    font-weight: bold;
}

/* Focus mode */

body:has(#projects:target) {
    overflow-y: auto;

    .mau-btn {
        font-size: 14px !important;
    }

    .animation {
        font-size: 16px !important;
    }

    .bi-code-slash {
        font-size: 5rem;
    }
    
    .bi-code-slash:hover {
        text-shadow: -10px 10px var(--primary), -20px 15px var(--secondary);
    }
}

/* Fade effect */

.faded {
    position: absolute;
    top: 0;
    z-index: 1;
    min-height: 100vh;
    height: 100%;
    width: 10vw;
}

.fade-left {
    background: linear-gradient(to right, var(--background), rgba(0,0,0,0));
    left: 0;
}

.fade-right {
    background: linear-gradient(to left, var(--background), rgba(0,0,0,0));
    right: 0;
}

/* Projects */

.projects {
    min-width: 100vw;
    white-space: nowrap;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    text-align: center;
}

.projects::-webkit-scrollbar {
    display: none;
}

.project {
    display: inline-block;
    position: relative;

    > .description {
        position: absolute;
        bottom: 5px;
        right: 5px;
        margin: 0;
        padding: 5px;
        max-width: 50%;
        white-space: wrap;
        text-align: end;

        > * {
            margin: 5px;
            padding: 5px;
            display: inline-block;
        }
    }

    > .light {
        > * {
            background-color: whitesmoke;
            color: darkslategray;
        }
    }

    > .dark {
        > * {
            background-color: darkslategray;
            color: whitesmoke;
        }
    }

    > a {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    > .project-image {
        height: 400px;
    }
}

/* Only on medium + screens */

@media only screen and (min-width: 768px) {
    body:has(#projects:target) .hero {
        height: 20vh;
        width: 50vw;
    }

    .switchtheme {
        width: 60px;
        height: 60px;
    }

    .switchtheme .bi-lightbulb-fill {
        font-size: 30px;
    }
}

/* Only on small (phone) screens */

@media only screen and (max-width: 768px) {
    .hero {
        flex-direction: column;
    }

    .middle-hero {
        flex-direction: row;
    }

    .bi-code-slash {
        font-size: 8rem;
    }

    .about-me {
        padding: 0 10vw;
    }

    body:has(#projects:target) {
        .bi-code-slash {
            font-size: 3rem;
        }

        .hero {
            padding: 20px 0px !important;
            height: 30vh;
        }

        .right-hero .bi-code-slash {
            font-size: 20px;
        }

        .middle-hero {
            padding: 10px;
        }

        .bi-code-slash:hover {
            text-shadow: -2px 2px var(--accent), -6px 4px var(--primary);
        }
    }

    .faded {
        width: 15vw;
    }
}